<!doctype HTML5>
<html>
    <head>
        <title>Blog com Python</title>
        <link rel="stylesheet" href="{{url_for('static', filename='estilo.css')}}">
    </head>
    <body>
        <div class="pagina">
            <h1>Blog, digite seu texto</h1>
            <div class="metanav">
                {% if not session.logado %}
                <a href="{{url_for('login')}}">login</a>
                {% else %}
                <a href="{{url_for('logout')}}">logout</a>
                {% endif %}
            </div>
            {% block corpo %}{% endblock %}
        </div>
    </body>

</html>